body{
    padding: 0;
    margin : 0;
    position: relative;
}
.card-header{
    text-align: center;
    background-color: rgb(21, 193, 206);
}
.card-body{
    background-color: rgb(21, 193, 206);
}
.card h-100{
    margin:10px;
    border-radius: 20px;
    width:18rem;
    height:20rem;
}
.btn{
    border:2px solid black;
}